<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MIT Reuse</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  </head>
  <body>
    <nav class="navbar is-primary" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="/">
        <span>
          <h2 class="is-size-3">MIT</h2>
        </span>
        <span class="icon is-large">
          <i class="fas fa-2x fa-recycle"></i>
        </span>
        </a>

        <a role="button" class="navbar-burger burger right" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
          <hr class="navbar-divider">
        </div>

        <div class="navbar-end">
          {% if user.is_authenticated %}
          <div class="navbar-item" right>
            <div class="buttons">
              <a class="button is-primary is-outlined is-inverted" href="{% url 'reuse_app:listing_create' %}">
                New listing 
              </a>
              <a class="button is-primary is-outlined is-inverted" href="{% url 'reuse_app:register' %}">
                My listings
              </a>
              <a class="button is-light" href="{% url 'reuse_app:logout' %}">
                Logout
              </a>
            </div>
          </div>

          {% else %}
          <div class="navbar-item" right>
            <div class="buttons">
              <a class="button is-primary is-outlined is-inverted" href="{% url 'reuse_app:register' %}">
                <strong>Sign up</strong>
              </a>
              <a class="button is-light" href="{% url 'reuse_app:login' %}">
                Log in
              </a>
            </div>
          </div>
          {% endif %}
        </div>
      </div>
    </nav>
  <section class="section">
    <div class="container">
      {% block content %}
      {% endblock content %}
    </div>
  </section>
  </body>
</html>


