{% extends 'reuse_app/base.html' %}
{% load static %}

{% block content %}
{% if listings_action %}
  <h1 class="title">Action Required Listings </h1>

  {% for listing in listings_action %}
    <div class="card">
      <header class="card-header">
        <p class="card-header-title">
          {{ listing.title }}
        </p>

        <div class="vertical-center">
          <div class="tags are-medium" >
            {% if listing.is_archived %}
            <span class="tag is-dark " >Archived</span>
            {% endif %}
            {% if listing.marked_taken %}
            <span class="tag is-primary " >Taken</span>
            {% endif %}
          </div>
        </div>
      </header>
      <div class="card-content">
        <div class="content">
          {{ listing.description|truncatewords_html:20 }}
        </div>
      </div>
      <footer class="card-footer">
        <a href="{% url 'reuse_app:listing_view' listing.pk %}" class="card-footer-item">Still available</a>
        <a href="{% url 'reuse_app:listing_update' listing.pk %}" class="card-footer-item">Delete</a>
      </footer>
    </div>
    <br>
  {% endfor %}
{% endif %}

{% if listings %}
  <h1 class="title">Active Listings </h1>
  {% for listing in listings %}
    <div class="card">
      <header class="card-header">
        <p class="card-header-title">
          {{ listing.title }}
        </p>

      </header>
      <div class="card-content">
        <div class="content">
          {{ listing.description|truncatewords_html:20 }}
        </div>
      </div>
      <footer class="card-footer">
        <a href="{% url 'reuse_app:listing_view' listing.pk %}" class="card-footer-item">View</a>
        <a href="{% url 'reuse_app:listing_update' listing.pk %}" class="card-footer-item">Edit/Delete</a>
      </footer>
    </div>
    <br>
  {% endfor %}
{% endif %}
{% endblock %}

