{% extends 'reuse_app/base.html' %}
{% load static %}

{% block content %}

<h1 class="title">{{listing.title}} </h1>
<p >
  <em> {{listing.loc_text}} </em>
</p>
<p>
  {{ listing.description }}
</p>
<br>
<div id="map"></div>

{% if listing.user == user %}
   <a class="button is-primary is-outlined " href="{% url 'reuse_app:listing_update' listing.pk %}">
   Edit listing
   </a>
{% endif %}


{% endblock content %}

{% block script %}
<script>
  let listing_coordinates = {
    'lat': {{ listing.loc_lat }},
    'lng': {{ listing.loc_lng }}
  };
</script>
<script src="{% static 'js/map.js' %}"></script>
<script
   src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCGt5cEhnpZUFq4z9dRNqTuCUt2c-KZyNE&callback=init_details_view"
        async defer></script>
{% endblock script %}
