{% extends 'reuse_app/base.html' %}
{% load static %}

{% block content %}

<h1 class="title">{{listing.title}} </h1>
{% if listing.marked_taken %}
<h2 class="subtitle has-text-link">
  May be taken
</h2>
{% endif %}
<p>
  <strong>
    Location: 
  </strong>
  {{ listing.loc_text }}
</p>
<p>
  <strong>
    Last activity:
  </strong>
  {{ listing.updated_at | timesince }} ago
</p>
<p>
  {{ listing.description }}
</p>
<br>
<div id="map"></div>

<div class="buttons">
  {% if listing.user == user %}
  <a class="button is-primary"
     href="{% url 'reuse_app:listing_update' listing.pk %}">
    Edit Listing
  </a>
  {% elif not listing.marked_taken and user %}
  <a class="button is-warning"
     href="{% url 'reuse_app:listing_taken' listing.pk %}">
    Mark as Taken
  </a>
  {% endif %}

</div>


{% endblock content %}

{% block script %}
<script>
  let listing_coordinates = {
    'lat': {{ listing.loc_lat }},
    'lng': {{ listing.loc_lng }}
  };
</script>
<script src="{% static 'js/map.js' %}"></script>
<script
    src="https://maps.googleapis.com/maps/api/js?key={{ MAPS_API_KEY }}&callback=init_details_view"
        async defer></script>
{% endblock script %}
