{% extends 'reuse_app/base.html' %}
{% load bulma_tags %}
{% load static %}

{% block content %}
<form method="POST">
  {% csrf_token %}
  {{ form.errors }}
  {{ form | bulma}}
  <div id="map"></div>
  <input class="button is-primary" type="submit" id="submit" value="{{ submit_value }}">
</form>
{% endblock %}

{% block script %}
<script src="{% static 'js/map.js' %}"></script>
<script
   src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCGt5cEhnpZUFq4z9dRNqTuCUt2c-KZyNE&callback=init_update_view"
        async defer></script>
{% endblock %}
