{% extends 'reuse_app/base.html' %}
{% load static %}

{% block content %}
<h1 class="title">Listing </h1>
<div id="map" style="height:600px;"></div>

{% endblock %}

{% block script %}
<script>
let listings = [
{% for listing in listings %}
{
  'title': '{{ listing.title }}',
  'body': `
    <p class="has-text-weight-bold is-size-6">
      {{listing.title}}
    </p>
    <p class="is-size-6">
      {{listing.updated_at |timesince }} ago
    </p>
    <a class="button is-primary is-small is-fullwidth"
      href="{% url 'reuse_app:listing_view' listing.pk %}">
      View
    </a>
  `,
  'lat': {{ listing.loc_lat }},
  'lng': {{ listing.loc_lng }},
} {% if not forloop.last %}, {% endif %}
{% endfor %}
];
</script>
<script src="{% static 'js/map.js' %}"></script>
<script
   src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCGt5cEhnpZUFq4z9dRNqTuCUt2c-KZyNE&callback=init_list_view"
        async defer></script>

{% endblock %}
