{% extends 'reuse_app/base.html' %}
{% load bulma_tags %}
{% load static %}

{% block content %}
<form method="POST">
  {% csrf_token %}
  {{ form.errors }}
  {{ form | bulma}}
  <div id="map"></div>
  <div class="buttons">
    <input class="button is-primary" type="submit" id="submit" value="{{ submit_value }}">
    {% if pk %}
    <a href="{% url 'reuse_app:listing_delete' pk %}" class="button is-danger">
      Delete
    </a>
    {% endif %}
  </div>
</form>
{% endblock %}

{% block script %}
<script src="{% static 'js/map.js' %}"></script>
<script
       src="https://maps.googleapis.com/maps/api/js?key={{ MAPS_API_KEY }}&callback=init_update_view"
        async defer></script>
{% endblock %}
