{% extends 'reuse_app/base.html' %}
{% load static %}

{% block content %}
<h1 class="title">My listings </h1>

{% for listing in listings %}
  <div class="card">
    <header class="card-header">
      <p class="card-header-title">
        {{ listing.title }}
      </p>
    </header>
    <div class="card-content">
      <div class="content">
        {{ listing.description|truncatewords_html:20 }}
      </div>
    </div>
    <footer class="card-footer">
      <a href="{% url 'reuse_app:listing_view' listing.pk %}" class="card-footer-item">View</a>
      <a href="{% url 'reuse_app:listing_update' listing.pk %}" class="card-footer-item">Edit/Delete</a>
    </footer>
  </div>
{% endfor %}
{% endblock %}

